.search {
  position: relative;
}

.search input {
  margin-right: 6px;
  padding: 6px 5px 6px 34px;
  border-radius: 4px;
  border: none;
  background-color: #9bcbff;
  color: white;
}

::placeholder {
  color: white;
}

.search .icon {
  position: absolute;
  top: 6px;
  left: 10px;
  cursor: pointer;
  z-index: 100;
}

.register,
.login {
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.register input,
.register button,
.login input,
.login button,
.countries-single button {
  margin-bottom: 10px;
  padding: 6px 5px;
  border-radius: 4px;
  border: none;
  background-color: #9bcbff;
  color: white;
  width: 200px;
}

.register button,
.login button {
  cursor: pointer;
  background-color: #333;
}
